<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link href="https://fonts.googleapis.com/css?family=Ubuntu|ZCOOL+QingKe+HuangYou" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/Mystyle.css' %}">
  </head>
  <body>
    <nav class='navbar navbar-inverse navbar-static-top'>
      <div class="container-fluid">
        <ul class='nav navbar-nav'>
          <li><a class="navbar-brand"  href="{% url 'index' %}">Home</a></li>
          <li><a class="navbar-link"  href="{% url 'admin:index' %}">Admin</a></li>
          <li><a class="navbar-link"  href="{% url 'basic_app:register' %}">Register</a></li>
          <li><a class="navbar-link"  href="{% url 'index' %}"></a></li>

          {% if user.is_authenticated %}
            <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>

          {% else %}
            <li><a class="navbar-link" href="{% url 'basic_app:user_login' %}">Login</a></li>

        {% endif %}
        </ul>
      </div>
    </nav>
  </body>
    <div class="container">
      {% block body_block %}

      {% endblock %}

    </div>

</html>
